.sidebar {
    height: 100%;
    width: 310px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: -295px;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    border-top: 1px solid #0ff;
    border-right: 1px solid #0ff;
    border-radius: 0 10px 10px 0;
    color: #0ff;
    font-family: 'Courier New', Courier, monospace;
}

.sidebar a {
    color: #0ff;
    font-size: 24px;
    display: block;
    padding: 10px;
    text-align: right;
}

.sidebar a:link {
    text-decoration: none;
}

.sidebar a:visited {
    color: #0ff;
    text-decoration: none;
}

.sidebar:hover {
    left: 0px;
}

.sidebar .sidebuttons {
    border-top: 1px solid #0ff;
    border-bottom: 1px solid #0ff;
    border-right: 1px solid #0ff;
    outline: #000 solid 5px;
    width: 250px;
}